.frame-1{
	height: 100vh;
	width: 100%;
	background-color: cyan;
}
.frame-2{
	height: 100vh;
	width: 100%;
	background-color: green;
}
.frame-3{
	height: 100vh;
	width: 100%;
	background-color: blue;
}
h1{
	position: absolute;
}