
<link rel="stylesheet" type="text/css" href="/assets/routes.css">


<div class="bath-house">

	<section class="slide-1"
	>
		<div class="title">
			<h2 class="one"
				data-start="opacity: 1; left: 200px"
				data-400-start="opacity: 0; left: 800px"
			>
				Traditional	Bath House</h2> 
			<h2 class="two"
				data-start="opacity: 1; left: 800px"
				data-400-start="opacity: 0; left: 200px"
			>Liepāja, Latvia</h2>
		</div>  
	</section>


	<section class="slide-2"
		data-center="background-position: 0% 50%"
		data-bottom="background-position: 100% 50%"
	>
	</section>




	<section class="slide-3"
		data-top="background-size: 60%; background-position: 50% 50%"
		data-center="background-size: 120%; background-position: 50% 0%"
		data-center-bottom="background-size: 110%; background-position: 50% 150%; opacity: 1"
		data-top-bottom="opacity: 0"
	>
	div.
	</section>

	<section class="slide-4">
		<div
			data-center="background-position: 50% 0px;"
			data-top-bottom="background-position: 50% -100px;"
			data-bottom-top="background-position: 50% 100px;"
		>
		</div>
	</section>


		<section class="diagram-1"></section>
		<section class="diagram-2"></section>
		<section class="diagram-3"></section>


	<section class="slide-6"></section>
	<section class="slide-7"></section>
</div>
