<header>
	<div class="logo"></div>
	<nav>
			<ul
				data-start="opacity: 0;"
				data-400-start="opacity: 1;"
			>
				<li>Architecture</li>
				<li>Urban Design</li>
				<li>Blog</li>
				<li>About</li>
				<li class="nav-contact">Contact</li>
			</ul>
	</nav>

</header>

<div class="container">
	<section class="intro"></section>
 	<section class="architecture">
    <div class="row">
	    <div class="ten columns">
				<div class="car-wrapper clearfix">
					<div id="arch-prev"><</div>
					<div id="arch-next">></div>
					<ul id="foo0">
						<li class="i1"></li>
						<li class="i2"></li>
						<li class="i3"></li>
						<li class="i4"></li>
						<li class="i5"></li>
						<li class="i6"></li>
						<li class="i7"></li>
					</ul>
				</div>
	    </div>
	    <div class="two columns">Two</div>
    </div>
  </section>
	
	<section class="urban-design"></section>
	<section class="blog"></section>
</div><!-- end skeleton container -->

<script type="text/javascript">
	//	Basic carousel, no options
	$('#foo0').carouFredSel({
		// responsive: true,
		width: '100%',
		auto: false,
		prev: "#arch-prev",
		next: "#arch-next",
		// scroll: 2,
		items: {
			// width: "300px",
			// height: '300px',	//	optionally resize item-height
			visible: {
				min: 1,
				max: 1
			}
		}
	});

</script>




